* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(226, 226, 226);
}

.cabecario-principal {  
    width: 100vw;
    height: 70px;
    background-color: rgb(45, 47, 49);
    display: flex;
    align-items: center;
}

img {
    width: 50px;
    
}
.caixa-de-pesquisa{
    display: flex;
    width: 150px;
    height: 10px;
    margin-right: 10px;
    border: 1px solid rgb(59, 61, 63);
    padding: 12px;
    transition: 0.5s;
    border-radius: 3px;
    background-color: rgb(63, 68, 72);   
}

.caixa-de-pesquisa:active {
    background-color: #fff;
    width: 450px;
    transition: .250ms ease-in;
}


.topnav {
    background-color:rgb(45, 47, 49);
    display: flex;
    align-items: center;
    flex: 1;
}
  
.topnav a {
    float: left;
    align-items: center;
    display: flex;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
.topnav a:hover {
    background-color: rgb(45, 47, 49);;
    color: rgb(161, 156, 156);
}

@media screen and (max-width: 600px) {
    .topnav a {
      float: none;
      width: 100%;  
    }    
}

