body { 
background-color: #fff;
font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 15%;
    margin: 20px;
    height: 20px;

}
.cabecalhoPrincipal{
    background-color:#2E64FE;
    padding: 1px;
}
.cabecalhoPrincipal-titulo a {
    text-decoration: none;
    color: inherit;
}

.cabecalhoPrincipal-nav-link {
    padding: 7px;
    margin-bottom: 5px;
    color: #FFF;
    background-color:#2E64FE;
    text-decoration: none;
    transition: .5s;
    display: run-in;
    border-bottom:1px solid #0022ff;
}

.conteudoPrincipal {
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.user {
    margin:1px;
    width: 8%; 
    height: 30px; 
    border-radius: 3px;
    background-color: #fff;
    border: solid rgb(240, 240, 240) 1px;  
}

.friends {
    position: inline;
    background-color:#FFF;
    border: solid rgb(240, 240, 240) 1px;
    width: 10%;
    height: 800px;   
}    

