body {background-color: rgb(27, 27, 27);}
.BordaBrancaNaruto  {
background-color: honeydew;
width: 300px;
border: 10px;
padding: 20px;
position: absolute;
}

video   {
width: 1000px;
border-radius: 10px;
}
