body {background-color: rgb(226, 226, 226);}
.cabecario-principal {  
    width: 1922px;
    height: 70px;
    background-color: rgb(45, 47, 49);
    transform: translate(-10px,-10px);
}

.icon>img{
    width: 50px;
    transform: translate(15px, 10px);
}
.caixa-de-pesquisa{
    width: 150px;
    height: 10px;
    border: 1px solid rgb(59, 61, 63);
    padding: 8px;
    transform: translate(90px, -30px);
    transition: 0.5s;
    background-color: rgb(22, 22, 22);    
}
.caixa-de-pesquisa:hover{
    width: 300px;
}